services:

  mysql:
    container_name: mysql
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: courses
    restart: always
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    networks:
      - cms-network

networks:
  cms-network:
    driver: bridge

volumes:
  mysql-data:

  # docker ps
  # docker images
  # docker system prune -f
  # docker compose -f docker/docker-compose/staging/docker-compose.yaml down
  # docker compose -f docker/docker-compose/staging/docker-compose.yaml up -d