@tailwind base;
@tailwind components;
@tailwind utilities;

.error-message {
  @apply text-red-600 font-bold italic text-sm font-serif;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  @apply border-red-300 bg-red-50;
}

input.ng-pending,
textarea.ng-pending{
  @apply border-orange-300 bg-orange-50;
}

input.ng-valid,
textarea.ng-valid{
  @apply border-green-600 bg-green-50/30;
}
