name: frontend pipeline

on:
  push:
    branches:
      - main
    paths:
      - frontend/**
      - docker/frontend/Dockerfile
      - docker/docker-compose/default/docker-compose.yaml
      - docker/docker-compose/default/common-config.yaml
      - .github/workflows/frontend-*.yaml

env:
  IMAGE_NAME: course-management-system-frontend
  DOCKER_REPO: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_LATEST_TAG: latest

jobs:

  # ----------------------------------------------------
  # 1. BUILD FRONTEND DOCKER IMAGE
  # ----------------------------------------------------
  docker-build:
    name: Build frontend docker image & store artifact
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract project version
        id: extract_version
        run: |
          cd frontend
          VERSION=$(jq -r '.version' package.json)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          VERSION=${{ steps.extract_version.outputs.VERSION }}
          docker build \
            -t ${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:$VERSION \
            -t ${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ env.DOCKER_LATEST_TAG }} \
            -f docker/frontend/Dockerfile frontend

      - name: Save docker image as artifact
        run: |
          docker save ${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ env.DOCKER_LATEST_TAG }} \
            -o image.tar

      - name: Upload docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar

  # ----------------------------------------------------
  # 2. TRIVY SCAN
  # ----------------------------------------------------
  trivy-scan:
    name: Scan Docker image
    runs-on: self-hosted
    needs: docker-build
    steps:
      - name: Download docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: .

      - name: Load docker image
        run: docker load -i image.tar

      - name: Run Trivy scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ env.DOCKER_LATEST_TAG }}
          format: table
          exit-code: 1
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH

  # ----------------------------------------------------
  # 3. PUSH IMAGE
  # ----------------------------------------------------
  docker-push:
    name: Push Docker image
    runs-on: self-hosted
    needs: trivy-scan
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_SECRET_KEY }}

      - name: Download docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: .

      - name: Load docker image
        run: docker load -i image.tar

      - name: Push image to Docker Hub
        run: |
          VERSION=${{ needs.docker-build.outputs.extract_version.VERSION }}
          docker push ${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:$VERSION
          docker push ${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ env.DOCKER_LATEST_TAG }}

      - name: Output final image names
        run: |
          VERSION=${{ needs.docker-build.outputs.extract_version.VERSION }}
          echo "FINAL IMAGES:"
          echo "${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:$VERSION"
          echo "${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:latest"

  # ----------------------------------------------------
  # 4. DEPLOY FRONTEND
  # ----------------------------------------------------
  deployment:
    name: Deploy frontend
    runs-on: self-hosted
    needs: docker-push
    steps:
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Create deployment folder
        run: |
          ssh ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }} \
            "mkdir -p course-management-system-deployment"

      - name: Copy docker compose files
        run: |
          scp docker/docker-compose/default/docker-compose.yaml \
            ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }}:course-management-system-deployment/
          scp docker/docker-compose/default/common-config.yaml \
            ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }}:course-management-system-deployment/

      - name: Deploy new version
        run: |
          ssh ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }} <<EOF
          cd course-management-system-deployment
          docker compose down
          docker compose pull
          docker compose up -d
          EOF
