services:

  mysql:
    container_name: mysql
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: courses
    restart: always
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    extends:
      file: common-config.yaml
      service: network-configuration

networks:
  cms-network:
    driver: bridge
volumes:
  mysql-data:



  # docker system prune -f
  # docker compose -f docker/docker-compose/production/docker-compose.yaml down
  # docker compose -f docker/docker-compose/production/docker-compose.yaml up -d
  # docker logs <container-id>
  # cat ~/.ssh/id_rsa

  #docker exec -it product-service sh -c "printenv | grep EUREKA"
  #EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8070/eureka/
  #http://localhost:8070/eureka/apps
  # docker exec -it order-service sh -c "curl -s http://localhost:8082/actuator/eureka | grep registry"

